/* font-family: 'Montserrat', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'PT Serif', serif; */
*{
	margin: 0;
	padding: 0;
}

img{
	width: 100%;
}

body{
	font-size: 62.5%; /* Allows all 1rems to = 10px */
	font-family: 'Poppins', sans-serif;
	color: #000;
}

header{
	padding-top: 1rem;
	width: 90%;
	margin: 0 auto;
	margin-bottom: 3rem;
}

.title {
	font-family: 'PT Serif', serif;
	font-weight: 700;
	font-size: 2rem;
	margin-bottom: 2rem;
}

.bio-header{
	font-size: 1.2rem;
	font-weight: 600;
	margin-bottom: .5rem;
	text-transform: uppercase;
}

.bio-info{
	font-size: 1rem;
}

main{
	display: grid;
	/* 2 colums, half the space each */
	grid-template-columns: repeat(2, 1fr);
	column-gap: 1.5rem;
	/* centers the main content and leaves a border */
	width: 90%;
	margin: 0 auto;
}

.crew:nth-child(2){
	/* gives margin for shae */
	margin-top: 2.2rem;
}

.crew:nth-child(4){
	/* gives margin for skylah */
	margin-top: 2.2rem;
}

.crew:nth-child(6){
	/* gives margin for stan */
	margin-top: 2.2rem;
}

.crew{
	/* makes two columns between the image and job title */
	display: flex;
	justify-content: space-between;
	margin-bottom: 2.5rem;
}

.job-title{
	/* allows the text to go vertically and sideways */
	writing-mode: vertical-lr;
	text-transform: uppercase;
	font-family: 'PT Serif', serif;
	font-weight: 400;
}

.dev{
	text-align: center;
	margin-bottom: 1rem;
	font-size: 1rem;
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
	color: #A9A9A9;
}

.credits{
	text-decoration: none;
}

@media screen and (min-width: 768px) {
	header{
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		column-gap: 2rem;
		width: 70%;
		align-items: center;
	}

	main{
		grid-template-columns: repeat(3, 1fr);
		width: 70%;
		margin-top: 5rem;
	}

	.crew:nth-child(2){
		margin-top: 4rem;
	}

	.crew:nth-child(5){
		margin-top: 6rem;
	}

	.name{
		font-size: 1rem;
	}

	.job-title{
		font-size: 1rem;
	}
}
